@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  overflow: hidden;
}

img[alt="Logo"] {
  width: 500px;
  aspect-ratio: 2/1;
  filter: drop-shadow(0 0 2px #000000bb);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 175px);
}

section {
  height: calc(100vh);
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 175px;
  background-image: linear-gradient(to top, #000000dd, #000000aa, transparent);
  display: flex;
  justify-content: start;
  align-items: center;
  padding-inline: 50px;
}

img[alt="Menu background"] {
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  position: absolute;
  z-index: -10;
}

footer .play-btn {
  padding-inline: 35px;
  padding-block: 7.5px;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  scale: 1.5;
  transition: all 0.4s;
  position: absolute;
  right: 75px;
  border-radius: 5px;
  -webkit-box-reflect: below 30px linear-gradient(to bottom, #000000, #00000010);

  &:hover {
    background-color: #fff;
    border-color: #fff;
    font-weight: 500;
    color: #333;
  }

  &:active {
    transition: all 0.2s;
    scale: 0.9;
    cursor: wait;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #ffffff05;
  box-shadow: 0 0 5px #00000025;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  position: relative;
  padding: 20px;
  width: 15vw;
  padding-top: 40px;
  margin-bottom: 30px;
  background-image: linear-gradient(60deg, #ffffff50, #ffffff25);
  -webkit-box-reflect: below 5px
    linear-gradient(to bottom, #00000000, #aaaaaa50);
  animation: spawn 0.2s linear;
  cursor: default;

  &:hover {
    img.hover {
      transform: perspective(1000px) rotateY(-20deg) rotate(-3deg)
        translateY(-40%);
    }
  }
}

.container h2 {
  font-size: 32px;
  color: #fff;
  text-shadow: 2px 0 0 #00000050;
  width: 150%;
  text-align: center;
}

.container div img[alt] {
  transition: all 0.5s;
  width: 100%;
  aspect-ratio: 3/1;
  max-width: 250px;
  top: -55px;
  position: absolute;
  filter: drop-shadow(0 0 2px #000000bb);
}

.container div img[alt="Cessna"],
.container div img[alt="Cessna C."] {
  top: -45px;
}

.container div img[alt="Fighter"] {
  height: 60px;
  top: -45px;
  width: 90%;
}

.container div img:last-child {
  width: 30px;
  aspect-ratio: 1;
}

.container button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  gap: 10px;
  border: 0;
  background-color: #222;
  border-radius: 5px;
  padding-inline: 20px;
  padding-block: 10px;
  cursor: pointer;

  &:hover {
    filter: invert(0.05);
  }

  &:active {
    transition: all 0.2s;
    scale: 0.75;
  }
}

@keyframes spawn {
  from {
    scale: 0.3;
  }

  to {
    scale: unset;
  }
}

header {
  position: absolute;
  left: 40px;
  top: 0px;
  display: flex;
  width: 120px;
  aspect-ratio: 10/7;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #eee;
  letter-spacing: 0.5px;
  margin-top: -1px;
  font-weight: 500;
  filter: drop-shadow(0 0 2px #000000bb);
  z-index: 100;

  & img {
    width: 100%;
    height: 100%;
    position: absolute;
    rotate: 180deg;
    border: 2px solid #aaa;
    border-bottom: 0;
  }

  & span {
    z-index: 2;
  }
}

.lost {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  & h1 {
    cursor: default;
  }

  & * {
    box-shadow: 2px 2px 2px #00000099;
  }
}

.lost h1 {
  font-size: 30px;
  background-color: #00000075;
  backdrop-filter: blur(10px);
  color: #fff;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
}

.lost button {
  font-size: 25px;
  color: #fff;
  background-color: #00000075;
  backdrop-filter: blur(15px);
  border: 0;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 20px;
  cursor: pointer;
  transition: scale 0.2s;

  &:hover {
    filter: brightness(0.8);
    scale: 1.2;
  }

  &:active {
    scale: none;
    cursor: wait;
  }
}

ul {
  display: flex;
  background-color: #eeeeee99;
  padding: 0;
  position: absolute;
  top: 0;
  padding: 7.5px;
  border-radius: 0 0 10px 10px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  opacity: 0.5;

  &:hover {
    padding-inline: 20px;
    opacity: 1;

    & img {
      filter: invert(0.2);
    }

    & li {
      display: block;
    }
  }
}

ul img {
  width: 35px;
  aspect-ratio: 1;
  filter: invert(0.75);
}

ul li {
  list-style: none;
  display: none;
}

ul li button {
  width: 200px;
  border: 0;
  border-radius: 10px;
  color: #555;
  background-color: #00000010;
  padding-block: 4px;
  padding-inline: 7.5px;
  font-size: 16px;

  &:hover {
    background-color: #00000020;
    cursor: pointer;
  }

  &:active {
    transition: all 0.2s;
    scale: 0.9;
    cursor: wait;
  }
}

@media screen and (max-width: 1450px) {
  footer {
    position: static;
    justify-content: center;
    padding: 0;
    gap: 50px;
  }

  footer .container {
    width: 100%;
    gap: 30px;

    & div {
      width: 16vw;
    }
  }

  footer .play-btn {
    top: 50px;
    -webkit-box-reflect: below 0
      linear-gradient(to top, transparent, transparent);
  }
}
